[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
 
[packages]
langchain = "==0.3.24"
openai = "==1.42.0"
python-dotenv = "==1.0.1"
 
[dev-packages]
 
[requires]
python_version = "3.13"